    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BusyDating</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" href="{% static 'homeStyle.css' %}">
    </head>
    <body>
        <div class="left-panel">
            <div class="profile-pic-container">
                {% if user.is_authenticated and user.profile.photo %}
                    <a href="{% url 'profile' %}" class="profile-icon" id="profile">
                        <img src="{{ user.profile.photo.url }}" alt="Profile Picture" class="profile-pic">
                    </a>
                {% else %}
                    <a href="{% url 'registration' %}" class="profile-icon" id="profile">
                        <i class="bi bi-person-circle"></i> 
                    </a>
                {% endif %}
            </div>
            
            <div class="line-separator"></div>
            <nav>
                <div class="nav-item">
                    <a href="#" id="matchMenu"class="text-decoration-none">Matches</a>
                </div>
                <div class="nav-item">
                    <a href="#" id="messageButton" class="text-decoration-none">Messages</a>
                </div>
            </nav>
            <div class="line-separator"></div>
            
            <div class="chat-menu" id="chatMenu">
                <div class="chat-header d-flex justify-content-between">
                    <button id="closeChatButton" class="btn btn-danger btn-sm">
                        <i class="bi bi-x"></i>
                    </button>                
                </div>
                <div class="chat__item__container" id="id_chat_item_container">
                    {% for message in messages %}
                        <div class="chat-message {% if message.username == request.user.username %}right{% else %}left{% endif %}">
                            <div class="message-content">
                                <span class="message-username">{{ message.username }}</span>
                                <span class="message-text">{{ message.text }}</span>
                                <span class="message-timestamp">{{ message.time }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="chat-input-container">
                    <input type="text" id="id_message_send_input" class="form-control" placeholder="Type a message...">
                    <button id="id_message_send_button" class="btn btn-primary">Send</button>
                </div>
            </div>
            
            <div class="match-menu" id="matchesMenu">
                <div class="match-header d-flex justify-content-between">
                    <button id="closeMatchButton" class="btn btn-danger btn-sm">Close</button>
                </div>
                <div class="match_item_container" id="id_match_item_container"></div>
            </div>
        </div>

        <div class="right-panel">
            <div id="feed">
                {% for profile in profiles %}
                <div class="main-card">
                    <img src="{{ profile.photo.url }}" alt="Profile Photo" style="width:100%; border-radius: 10px; margin-bottom: 10px;">
                    <h2>
                        <a href="/profile/{{ user.username }}">
                            {{ user.username }}
                        </a>
                    </h2>                    
                    <p>Age: {{ profile.age }}</p>
                    <p>Bio: {{profile.bio}}</p>
                    <button class="like-button" data-profile-id="{{ profile.id }}">Like</button>
                    <button class="dislike-button" data-profile-id="{{ profile.id }}">Dislike</button>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="{% static 'home.js' %}"></script>
    </body>
    </html>
