<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profileStyle.css' %}">
</head>

<body>

    <div class="profile-container">
        <div class="profile-header">
            <div class="home-button">
                <a href="/" class="back-button">&#8592; Back</a>
            </div>
            <div class="profile-pic-container">
                <img src="{{ user.profile.photo.url }}" alt="Profile Picture" class="profile-pic">
            </div>
            <div class="profile-info">
                <h1>{{ user.username }}</h1>
                <p>Email: {{ user.email }}</p>
                <p>Age: {{ user.profile.age }}</p>
            </div>

            <div>
                <button id="deleteSelectedBtn" class="logout-btn" style="background-color: #e63946; font-size: 16px;">Delete Photo</button>
            </div>
        
            <div>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            </div>
        </div>

        <div class="photo-gallery-section">
            <h3>Photo Gallery</h3>
            <div class="photo-gallery">
                {% for photo in user.additionalphoto_set.all %}
                    <div class="photo-item" data-photo-id="{{ photo.id }}">
                        <input type="checkbox" class="photo-checkbox" />
                        <img src="{{ photo.profilePhotos.url }}" alt="Gallery Photo">
                    </div>
                {% empty %}
                    <div class="add-photo-btn" id="photoHolder">
                        <span>No photos yet</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="addPhotoButton" class="add-photo-btn">
            <span>Add More Photos</span>
        </div>
        <input type="file" name="profilePhotos" id="fileInput" accept="image/*" multiple style="display: none;">
    </div>
    <script src="{% static 'profile.js' %}"></script>
</body>
</html>
